:root{
    --main-background: rgba(255, 240, 255, 0.5);
    --ccBlack: navy;
    --ccYellow: #FFC53D;
    --beige: #ECE5D4;
    --blueish: #B4DCE7;
    --reddish: #D39A8E;
    --borderRadius: 15px;
    --normal-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --shadow: 0 4px 8px 0 cyan,
    0 6px 20px 0 purple;
}
html{
    margin: -8px;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 70%);
    /*background-image: url("img/Stripes.svg");
    background by SVGBackgrounds.com */
    background-size: 100vw auto;
    font-family: sans-serif;
}
.container{
    display: grid;
    background-color: #ded4ec;
    grid-gap: 1%;
    width: 100vw;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 80px 100% 100% 100px;
    text-align: justify;
    overflow: hidden;
}
a {
    text-decoration: none;
}
.main-header {
    grid-row: 1;
    grid-column: 1 / span 6;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: var(--ccBlack);
    text-transform: uppercase;
    box-shadow: var(--shadow);
}
#CCLogo{
    display: block;
    grid-column: 1;
    align-self: center;
    margin-left: 10%;
}
.main-nav{
    grid-column: 4 / span 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-button {
    padding: 1.3em;
    background-color: hsla(0, 0%, 70%, 0.8);
    border-radius: 20px;
    white-space: nowrap;
    text-align: center;
    /*box-shadow: var(--shadow);*/
    color: var(--ccYellow);
    text-shadow: 0 0 1px var(--ccYellow);
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.2s ease-in;
}
.nav-button:hover{
    box-shadow: 3px 3px 3px var(--ccYellow) inset,
    -3px -3px 3px var(--ccYellow) inset,
    3px 3px 5px var(--ccYellow),
    -3px -3px 5px var(--ccYellow);
    text-shadow: 1px 1px 3px var(--ccYellow);
}
.who-am-i {
    position: relative;
    grid-row: 2;
    grid-column: 1 / -1;
    background-color: var(--beige);
    border-radius: var(--borderRadius);
    width: calc(100vw-4%);
    height: 100vh;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: var(--shadow);
    display: grid;
    grid-template-columns: repeat(4, 3fr) 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    ". . . . ."
    "photo text1 text2 text3 ."
    ". text1 text2 text3 ."
    ". text1 text2 text3 ."
    ". button button button .";
}
/*.text {
    border-radius: var(--borderRadius);
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.2rem;
    height: 60vh;
    padding: 2em;
    background-color: var(--beige);
    box-shadow: var(--shadow);
    text-align: center;
    opacity: 0;
    animation: dropdown;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}*/
.text-1{
    grid-area: text1;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 58px;
    -moz-border-radius: 58px;
    border-radius: 58px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}
/*.text-1 {
    position: relative;
    width: 130px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 58px;
    -moz-border-radius: 58px;
    border-radius: 58px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;

}
.text-1:before{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 30px;
        top: 100px;
        border: 25px solid;
        border-color: #666 transparent transparent #666;
}

.text-1:after{
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: 38px;
      top: 100px;
      border: 15px solid;
      border-color: #fff transparent transparent #fff;
}*/
.text i{
    font-size: 5rem;
    color: var(--reddish);
}
@keyframes dropdown{
    0% {top: -150px; left: -30px; opacity: 0;}
    100% {top: 0; left: 0; opacity: 1;}
}
@keyframes ghost{
    0% {opacity:0;}
    100% {opacity:1;}
}
/*.text:nth-child(2){
    grid-area: text1;
    animation-delay: 1s;
}
.text:nth-child(3) {
    grid-area: text2;
    animation-delay: 1.5s;
}
.text:nth-child(4) {
    grid-area: text3;
    animation-delay: 2s;
}*/
#McPhoto {
    grid-area: photo;
    height: 40vh;
    width: auto;
    border-radius: var(--borderRadius);
    box-shadow: var(--normal-shadow);
    margin-left: 15%;
    opacity: 0;
    animation: ghost;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    transform: rotateY(180deg);
}
.main-content {
    grid-row: 3;
    grid-column: 1 / -1;
    display: grid;
    grid-gap: 1.5% 1%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 2%;
    margin-right: 2%;
}
.project{
    height: auto;
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.project img{
    width: 100%;
}