:root{
    --main-background: rgba(255, 240, 255, 0.5);
    --ccBlack: #666;
    --ccYellow: #FFC53D;
    --beige: #ECE5D4;
    --blueish: #B4DCE7;
    --reddish: #D39A8E;
    --borderRadius: 15px;
    --cloudRadius: 75px;
    --normal-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --shadow: 0 4px 8px 0 cyan, 0 6px 20px 0 purple;
}
html{
    margin: -8px;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 70%);
    background-size: 100vw auto;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.container{
    display: grid;
    background-color: #ded4ec;
    grid-gap: 1%;
    width: 100vw;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 40px 100% 100% 100px;
    text-align: justify;
    overflow: hidden;
}
a {
    text-decoration: none;
    color: #000;
}
.main-header {
    grid-row: 1;
    grid-column: 1 / -1;
    position: fixed;
    width: 100vw;
    z-index: 5;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--ccBlack);
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    box-shadow: var(--normal-shadow);
}
#CCLogo{
    display: block;
    grid-column: 1 / span 2;
    align-self: center;
    margin-left: 10%;
}
.main-nav{
    grid-column: 6 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1%;
    grid-gap: 5%;
}
.nav-button {
    padding: 0.7em;
    background-color: hsla(0, 0%, 70%, 0.8);
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90%;
    white-space: nowrap;
    text-align: center;
    color: var(--ccYellow);
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0.2s ease-in;
}
a:focus{
    outline: none;
    color: red;
}
.nav-button:hover{
    box-shadow: 3px 3px 3px var(--ccYellow) inset,
    -3px -3px 3px var(--ccYellow) inset,
    3px 3px 5px var(--ccYellow),
    -3px -3px 5px var(--ccYellow);
    text-shadow: 1px 1px 3px var(--ccYellow);
}
.who-am-i {
    position: relative;
    grid-row: 2;
    grid-column: 1 / -1;
    background-image: linear-gradient(var(--beige), orange);
    border-radius: var(--borderRadius);
    width: calc(100vw - 4%);
    margin-left: 2%;
    margin-right: 2%;
    grid-gap: 2em;
    box-shadow: var(--normal-shadow);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "photo text1 text1 . ."
    "photo text1 text1 text2 text2"
    "text3 text3 text3 text2 text2"
    "text3 text3 text3 aboutCC aboutCC"
    "button button button button button";
}
.text{
    position: relative;
    text-align: center;
    background-color: #fff;
    padding: 5%;
    border: 1em solid #666;
    -webkit-border-radius: var(--cloudRadius);
    -moz-border-radius: var(--cloudRadius);
    border-radius: var(--cloudRadius);
    -webkit-box-shadow: var(--normal-shadow);
    -moz-box-shadow: var(--normal-shadow);
    box-shadow: var(--normal-shadow);
    animation: ghost;
    opacity: 0;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.text:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: calc(0% - 4em);
    top: calc(50% - 2em);
    border: 2em solid;
    border-color: #666 #666 transparent transparent;
}
.text:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: calc(0% - 2.8em);
    top: calc(50% - 1.65em);
    border: 2em solid;
    border-color: #fff #fff transparent transparent;
}
.text:nth-child(2) {
    grid-area: text1;
    margin-top: 10%;
    margin-left: 5%;
    animation-delay: 1s;
}
.text:nth-child(3) {
    grid-area: text2;
    margin-right: 5%;
    animation-delay: 2s;
}
.text:nth-child(3):before {
    left: -3em;
    top: -1.5em;
    transform: rotate(30deg);
}
.text:nth-child(3):after {
        left: -2em;
        top: -0.3em;
        transform: rotate(30deg);
}
.text:nth-child(4) {
    grid-area: text3;
    margin-left: 5%;
    animation-delay: 3s;
}
.text:nth-child(4):before {
    left: calc(100% - 1em);
    top: -1em;
    transform: rotate(240deg);
}
.text:nth-child(4):after {
    left: calc(100% - 1.7em);
    top: 0;
    transform: rotate(240deg);
}
.text i{
    font-size: 5rem;
    color: var(--reddish);
}
.aboutCC{
    position: relative;
    grid-area: aboutCC;
    animation: dropdown;
    opacity: 0;
    animation-delay: 3.5s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
.aboutCC:after{ border: 0;}
.aboutCC:before{ border: 0;}
@keyframes dropdown{
    0% {left: calc(100vw + 50px); opacity: 0;}
    50% {transform: skew(20deg);}
    100% {top: 0; left: 0; opacity: 1; transform: skew(0);}
}
@keyframes ghost{
    0% {opacity:0;}
    100% {opacity:1;}
}
#McPhoto {
    grid-area: photo;
    height: 40vh;
    width: auto;
    border-radius: var(--borderRadius);
    box-shadow: var(--normal-shadow);
    margin-left: 15%;
    margin-top: 15%;
    opacity: 0;
    animation: ghost;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transform: rotateY(180deg);
}
.go-next{
    grid-area: button;
    text-align: center;
    align-self: center;
}
.go-next button {
    background-color: var(--reddish);
    color: #000;
    padding: 5%;
    padding-top: 1%;
    font-size: 1em;
    border: none;
    box-shadow: var(--normal-shadow);
    border-radius: var(--borderRadius);
}
.go-next button:active {
    box-shadow: 5px 5px 6px 6px #fff inset,
    -5px -5px 6px 6px #fff inset;
}
.arrow{
    border: solid #000;
    font-size: 0;
    display: inline-block;
    border-width: 0 3px 3px 0;
    padding: 8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.main-content {
    grid-row: 3;
    grid-column: 1 / -1;
    display: grid;
    grid-gap: 1.5% 1%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 2%;
    margin-right: 2%;
}
.project{
    position: relative;
    height: auto;
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.project img{
    width: 100%;
    opacity: 0.6;
}
.view-block{
    position: absolute;
    text-align: center;
    top: 25%;
    width:100%;
    height: 100%;
    font-size: 2em;
}
.view-block i{
    font-size: 3em;
}
.view-block p{
    margin: 0;
}
/* Projects.html subpage*/
.projects .container {
    grid-gap: 3%;
    width: 100vw;
    grid-template-rows: 20px 100%;
}
.projects .main-content {
    grid-row: 2;
    grid-column: 1 / -1;
    display: grid;
    grid-gap: 1.5% 1%;
    grid-template-columns: 1fr;
    width: 80vw;
    margin: 0 auto;
}
/* Contact.html subpage*/
.contact .container {
    grid-template-rows: 20px 150px 100%;
}
.contact .text:first-child {
    grid-row: 1;
    grid-column: 2 / span 3;
    text-align: left;
    margin-top: 5%;
}
.contact .text{
    grid-row: 2;
    grid-column: 2 / span 3;
    margin: 0;
}
.contact .text:before {border: 0;}
.contact .text:after {border: 0;}
.contact .text a{
    color: orange;
}
@media (max-width: 800px) {
    .text:before {
        border: 0;
    }

    .text:after {
        border: 0;
    }

    .who-am-i {
        grid-template-rows: repeat(4, 2fr) 1fr;
        grid-template-areas:
            "photo text1 text1 text1 text1"
            "text2 text2 text2 text2 text2"
            "text3 text3 text3 text3 text3"
            "aboutCC aboutCC aboutCC aboutCC aboutCC"
            "button button button button button";
    }

    .container {
        grid-gap: 3%;
        width: 100vw;
        grid-template-rows: 20px 100%;
    }

    .main-content {
        grid-row: 3;
        grid-column: 1 / -1;
        display: grid;
        grid-gap: 1.5% 1%;
        grid-template-columns: 1fr;
        width: 80vw;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 1000px) and (min-width: 800px) and (max-height: 768px) {
    html{
        font-size: 15px;
    }
    .main-nav {
        grid-column: 4 / -1;
    }
    .who-am-i {
        grid-template-areas:
            "photo text1 text1 . ."
            "photo text1 text1 text2 text2"
            "text3 text3 text3 text2 text2"
            "text3 text3 text3 aboutCC aboutCC"
            "button button button button button";
    }
}